<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="style/main.css">
    <title>Travel modes in directions</title>

  </head>
  <body ng-app="runningApp" ng-controller="mapCtrl" ng-init="loadScript()">
  <div>
    <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Run the Resort</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="sass.html">Change Map</a></li>
        <li><a href="badges.html">Places Visited</a></li>
        <li><a href="collapsible.html">JavaScript</a></li>
      </ul>
    </div>
  </nav>
  </div>


  <div id="loaderDiv" class="preloader-wrapper big active" loader>
      <div class="spinner-layer spinner-blue">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>

      <div class="spinner-layer spinner-red">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>

      <div class="spinner-layer spinner-yellow">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>

      <div class="spinner-layer spinner-green">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
    <div id="panel">
      <div class="row">
        <div class="card big">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <div class="card-title">Record Your Miles</div>
              <input type="number" placeholder="miles/calories" ng-model="input_miles">
              <div class="browser-default">
                <select>
                  <option value="miles">Miles</option>
                  <option value="calories">Calories</option>
                </select>
                <!-- <label>Materialize Select</label> -->
              </div>
              <button class="btn waves-effect waves-light" type="submit" name="action" ng-click="translateIntoCoor(input_miles)">Submit<i class="material-icons right">send</i></button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="map">
    <div class="row">
        <div class="card big">
          <div class="card blue-grey darken-1">
            </div>
          </div>
        </div>
      </div>
    

    
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
  <script src="lib/bower_components/angular/angular.min.js"></script>
  <script src="lib/bower_components/angular-route/angular-route.min.js"></script>
  <script src="https://cdn.firebase.com/js/client/2.4.2/firebase.js"></script>
  <script src="lib/bower_components/angularfire/dist/angularfire.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-materialize/0.1.8/angular-materialize.min.js"></script>
    <!-- <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC74Sv-Oj1eczsYPOuzrDveO0SmkcW3Dj0&callback=initMap">
    </script>
 -->    
  <script src="app/app.js"></script>
  <script src="app/map.js"></script>
  </body>
</html>