html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/**********Login Page**********/
#loginCardSize{
  width: 80%;
  margin:auto;
  margin-top:7%;
}

/********** Map **********/
#view{
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  margin-top:0.5%;
  /*margin-bottom:3%;*/
  float:right;
  height: 90%;
  width:70%;
}

#panel {
  float:left;
  height:130%;
  width:29%;
}

/********** Spinner **********/
#loaderDiv {
  position: fixed;
  top: 48%;
  left: 48%;
  z-index: 1100; }

.card{
  height:100%;
}

/********** Modal Window **********/
#modal1{
  height: 100%;
  width:66%;
}

#modalImage{
  height:310px;
  width:800px;
  /*margin:auto;*/
}

#modalCard{
  width:100%;
  float:center;
  margin:auto;
}

/********** visited Places page **********/
.card-image img{
  height:130px;
  width:170px;
}

.card-size{
  height:130px;
  width:170px;
}

/********** Pick Map page **********/
.card-size-for-map{
  height:220px;
  width:280px;
}

