html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#view{
  height: 100%;
  margin: 0;
  padding: 0;
}
#map {
  margin-top:0.5%;
  /*margin-bottom:3%;*/
  float:right;
  height: 90%;
  width:70%;
}
#panel {
  float:left;
  height:100%;
  width:29%;
}

#loaderDiv {
  position: fixed;
  top: 48%;
  left: 48%;
  z-index: 1100; }

.card{
  height:100%;
}