
<div class="container">
<div class="row" id="loginOrRegisterStyle">
  <div class="col s12 m12">
    <div class="card blue-grey darken-1" id="loginCardSize">
      <div class="card-content white-text">
        <span class="card-title">Login or Register</span>
        <div>
          Email: <input value="rr@rr.com" type="text" autofocus=true ng-model="account.email">
        </div>
        <div>
          Password: <input value="1234" type="password" ng-model="account.password">
        </div>
        <div>
          <button class="btn btn-info" ng-click="login()">Login</button>
          <a class="waves-effect waves-light btn" ng-click="register()"><i class="material-icons right">cloud</i>Register</a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

