<div id="loaderDiv" class="preloader-wrapper big active" loader>
  <div class="spinner-layer spinner-blue">
    <div class="circle-clipper left">
      <div class="circle"></div>
    </div><div class="gap-patch">
      <div class="circle"></div>
    </div><div class="circle-clipper right">
      <div class="circle"></div>
    </div>
  </div>

  <div class="spinner-layer spinner-red">
    <div class="circle-clipper left">
      <div class="circle"></div>
    </div><div class="gap-patch">
      <div class="circle"></div>
    </div><div class="circle-clipper right">
      <div class="circle"></div>
    </div>
  </div>

  <div class="spinner-layer spinner-yellow">
    <div class="circle-clipper left">
      <div class="circle"></div>
    </div><div class="gap-patch">
      <div class="circle"></div>
    </div><div class="circle-clipper right">
      <div class="circle"></div>
    </div>
  </div>

  <div class="spinner-layer spinner-green">
    <div class="circle-clipper left">
      <div class="circle"></div>
    </div><div class="gap-patch">
      <div class="circle"></div>
    </div><div class="circle-clipper right">
      <div class="circle"></div>
    </div>
  </div>
</div>

<div id="panel">
  <div class="row">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span><span id="big_mile_record">{{total_record? total_record: 0}}</span> miles</span>
      <div class="progress">
        <div class="determinate" style="width: 0%"></div>
      </div>
      <br><br><br>
      
      <div class="card-title">Today I run for:</div>
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">label_outline</i>
          <input type="number" placeholder="put your miles/calories here" ng-model="input_miles">
        </div>
      </div>
      <div id="radioButtons">
        <span>
          <input class="with-gap" name="group1" type="radio" id="milesRadio1" value="mileRadio1" ng-checked="true" ng-model="showCal">
          <label for="milesRadio1">Miles</label>
        </span>
        <span>
          <input class="with-gap" name="group1" type="radio" id="calRadio2" value="calRadio2" ng-model="showCal">
          <label for="calRadio2">Calories</label>
        </span>
      </div><br>
      <div id="ngShowCal" ng-show="showCal==='calRadio2'">Equals to <span id="equalsMiles">{{input_miles/100? input_miles/100: 0}}</span> miles
      </div>
      <div ng-show="showCal==='calRadio2'"><br><br></div>
      <div ng-hide="showCal==='calRadio2'"><br><br><br><br></div>
      <button id="panelSubmitBtn" class="btn waves-effect waves-light" type="submit" name="action" ng-click="showCal==='mileRadio1'? panelToMap(input_miles):panelToMap(input_miles/100)">Submit<i class="material-icons right">send</i></button>
      </div>
    </div>
  </div>
</div>

<div id="map" class="container">
  <div class="row">
    <div class="card big">
      <div class="card blue-grey darken-1"></div>
    </div>
  </div>
</div>

<!-- Modal Structure -->
<div id="modal1" class="modal">
  <div class="modal-content">
    <h3 id="modalHeader">Modal Header</h3>
    <img class="z-depth-4" id="modalImage" src="" alt="Resort Pic">
  </div>
</div>
