<div class="container">
  <h3 class="center-align regular-2 grey-text">Pick A Map</h3>
  <div class="row">
    <div class="col s4">
      <div class="card card-size-for-map z-depth-3 hoverable">
        <div class="card-image waves-effect waves-block waves-light">
          <img src='pics/yellowstoneMap.jpeg'>
          <h6 class="center-align">Yellowstone National Park</h6>
          <h6 class="center-align">27 miles</h6>
        </div>
      </div>
    </div>

    <div class="col s4">
      <div class="card card-size-for-map z-depth-3 hoverable">
        <div class="card-image waves-effect waves-block waves-light">
          <img src='pics/newYork.jpg'>
          <h6 class="center-align">New York City</h6>
          <h6 class="center-align">50 miles</h6>
        </div>
      </div>
    </div>

    <div class="col s4">
      <div class="card card-size-for-map z-depth-3 hoverable">
        <div class="card-image waves-effect waves-block waves-light">
          <img src='pics/alaska.jpg'>
          <h6 class="center-align">Alaska</h6>
          <h6 class="center-align">100 miles</h6>
        </div>
      </div>
    </div>
  </div>
</div>